# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db
server-*.log

# db files
agilepm.db
*.db
*.db-journal

# Uploaded profile images
app/static/uploads/*
!app/static/uploads/.gitkeep
