body {
  font-family: Arial, sans-serif;
}

.left-panel {
  background: linear-gradient(180deg, #1f9b79, #228e72);
  color: white;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Brand */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

.brand-icon {
  background: white;
  color: #1f9b79;
  padding: 8px;
  border-radius: 8px;
}

/* Left -Panel Hero */
.hero-title {
  font-weight: 200;
  font-size: 48px;
  margin-top: 40px;
  font-family: 'Manrope', sans-serif;;
}

.highlight {
  color: #b9f2e6;
}

.hero-text {
  margin-top: 30px;
  opacity: 0.9;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* testimonial Card */
.testimonial-card {
  margin-top: 30px;
  padding: 20px;
  border-radius: 12px;
  background-color: #03a081;
}

.stars {
    color: #84F5E8;
}

.testimonial-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.testimonial-user {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.testimonial-user img {
  width: 40px;
  border-radius: 50%;
}

.footer-note {
    margin-top: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
